body {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(203,203,213,1) 55%, rgba(204,210,213,1) 86%);
	color: black;
}

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Roboto', sans-serif;
*/

h1 {
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;

	text-shadow: 2px 2px rgba(100, 100, 100, .5);

	font-weight: normal;
	font-size: 8em;
	margin-bottom: 30px;
}

#main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #555;
}

#story {
	font-family: 'Arial';
	font-size: 1.5em;
	line-height: 1.3em;

	color: black;
	padding: 20px;
	padding-bottom: 0px;
}

#blog-posts li a {
	font-size: 1.3em;	
}

@media screen and (max-width: 992px) {
	#story {
		font-size: 2.5em;
	}
	h3 {
		font-size: 48px;
	}
	#blog-posts li a {
		font-size: 2.5em;	
	}
}

#icons {
	text-shadow: 2px 2px rgba(100, 100, 100, .5);
	text-align: center;
}

#icons a {
	font-size: 4em;
	font-family: 'Indie Flower', cursive;	text-decoration: none;
	padding-left: 10px;
}

#icons a:hover {
	text-decoration: none;
	color: #cee !important;
}

a:visited {
	color: black;
}

a {
	color: black;
}