body {
	background-color: black;
	color: white;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+6,000000+18,161616+33,0f0f0f+42,2c2c2c+49,111111+57,2b2b2b+69,1c1c1c+91,131313+100 */

	background-color: rgb(180, 200, 210);
	background-image: url('background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*color: #555;
	/*background-size: auto 100%;*/
}

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Roboto', sans-serif;
*/

h1 {
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;

	text-shadow: 2px 2px rgba(100, 100, 100, .5);

	font-weight: normal;
	font-size: 8em;
	margin-bottom: 30px;
}

#main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #555;
}

#story {
	font-family: 'Arial';
	font-size: 1.5em;
	text-shadow: 1.5px 1.5px rgba(100, 100, 100, .5);
	line-height: 1.3em;

	/*background-color: rgba(50, 50, 50, 0.2);*/
	box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, .1);
	border-radius: 10px;
	color: black;
	padding: 20px;
	padding-bottom: 0px;
}

@media screen and (max-width: 992px) {
	#story {
		background-color: rgba(255, 255, 255, 0.4);
	}
}

#icons {
	text-shadow: 2px 2px rgba(100, 100, 100, .5);
}

a {
	font-size: 5em;
	font-family: 'Indie Flower', cursive;	text-decoration: none;
	padding-left: 10px;
}

a:hover {
	text-decoration: none;
	color: #cee !important;
}

a:visited {
	color: white !important;
}
#icons a {
	color: white;
}